h1 {
    height: 1.5em;
    width: 3em;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    width: fit-content;
    height: fit-content;
    padding: 0px 10px;
}
.container {
    display: grid;
    grid-template-areas:
        "one one one"
        "two three three"
        "two four five"
        "six six six";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows:
        minmax(170px, auto) minmax(50px, auto) minmax(460px, auto)
        minmax(170px, auto);
    justify-content: start;
}
.item {
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
}
.item_1 {
    display: flex;
    background-color: #acc8e1;
    grid-area: one;
    justify-content: space-between;
}
.x {
    width: 20%;
}
.p_1 {
    width: 80%;
}
.item_2 {
    padding-left: 70px;
    font-size: 25px;
    background-color: #e1ceac;
    grid-area: two;
}
.item_3 {
    background-color: #c2edbf;
    grid-area: three;
}
.item_4 {
    grid-area: four;
}
.item_5 {
    background-color: #e1ceac;
    grid-area: five;
}
.item_6 {
    display: flex;
    background-color: #acc8e1;
    grid-area: six;
    flex-direction: row;
    justify-content: space-between;
}
.y {
    width: 20%;
}
.p_6 {
    width: 50%;
}
.hidden_form {
    display: none;
}
td {
    border: 1px solid black;
}
@media screen and (max-width: 800px) {
    .container {
        display: grid;
        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"
            "six";
        grid-template-columns: 1fr;
        grid-template-rows:
            minmax(170px, auto) minmax(60px, auto) minmax(50px, auto)
            minmax(170px, auto);
        justify-content: start;
    }
    .item_1 {
        display: flex;
        background-color: #acc8e1;
        grid-area: one;
        flex-direction: column;
    }
    .x {
        align-self: center;
    }
    .item_6 {
        display: flex;
        background-color: #acc8e1;
        grid-area: six;
        flex-direction: column;
    }
    .y {
        align-self: center;
    }
    .p_1,
    .p_6 {
        width: 100%;
    }
}
